# Виртуальное окружение
.venv/
venv/

# Файлы базы данных
*.db

# Файлы конфигурации
.env

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Системные и IDE-файлы
.DS_Store
.idea/
.vscode/
